*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    font-family: cursive;
  }
  nav{
      background-color:rgba(15, 15, 36, 0.568);
      height: 70px;  
      text-align: center;

  }
  li{
      list-style-type: none;
      display: inline-block;
      padding-left: 11px;
  }
  a{
      text-decoration: none;
      color: #ebb729;
      line-height: 60px;
  }
  a:hover{
      color: white;
  }
  body{
      background-color: silver;
      font-family: Helvetica;
      font-size: 105%;
  }
  .part1{
      background: url("../img/slackbot.png");
      height: 460px;

  }
  .parta{
      margin-left: 30px;
      width: 50%;
      text-align: center;
      line-height: 120px;
  }
  p:first-child{
      font-size: 500%;
      padding-top: 85px;
  }
  p:nth-child(2){
      font-size: 160%;
      line-height: 50px;
      padding-left: 120px;
      color: white;
  }