*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  nav{
      background-color:rgba(15, 15, 36, 0.568);
      height: 70px;  
      text-align: center;

  }
  li{
      list-style-type: none;
      display: inline-block;
      padding-left: 11px;
  }
  a{
      text-decoration: none;
      color: #ebb729;
      line-height: 60px;
  }
  a:hover{
      color: white;
  }
  body{
      background-color: silver;
      font-family: cursive;
      font-size: 105%;

  }
  .part1{
      background: url("../img/slackbot.png");
      height: 460px;
      width: 100%;
  }
  .parta{
      margin-left: 30px;
      width: 50%;
      text-align: center;
      line-height: 120px;
  }
  
  .partb{
    background-color: rgba(245, 201, 4, 0.76), 0.884), 0.877), 0.877), 0.877), 0.877), 0.877);
    color: rgb(91, 166, 201);
    border-radius: 50%;
    width: 360px;
    height: 360px;
    float: right;
    position: absolute;
    top: 150px;
    margin-left: 800px;
  }
  p:first-child{
      font-size: 500%;
      padding-top: 85px;
  }
  p:nth-child(2){
      font-size: 160%;
      line-height: 50px;
      padding-left: 120px;
      color: white;
  }
  .part2{
      background-color: white;
      display: inline-block;
      padding: 15px;
      line-height: 150%;
  }
  .leftmove{
      width: 47%;
      float: left;
      padding: 25px;
  }
  .rightmove{
      width: 47%;
      float: left;
      padding: 25px;
  }
  .feet{
      clear: left;
  }
  .part3{
      background-color: rgba(62, 231, 76, 0.568);
  }
  .myBox{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  .one{
      flex-grow: 1;
      margin: 5%;
  }
  .two{
    flex-grow: 1;
    margin: 5%;
}
.three{
    flex-grow: 1;
    margin:5%;

}
.part4{
    background-color: white;
    line-height: 179%;
}
.section4{
    text-align: center;
    width: 30%;
    margin-left: 35%;
}
.section{
    text-align: center;
}
.button4{
    margin-left: 35%;
    line-height: 180%;
    width: 25%;
    height: 125%;
    font-size: 160%;
    background-color: rgba(15, 15, 36, 0.568);
}
.insPageHeader{
    text-align: center;
    
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 200%;
}
img{
    width: auto;
    background-color: rgba(15, 15, 36, 0.568);
}
section{
    background-color: white;
}
.relax{
    line-height: 180%;
    width: 45%;
    height: 125%;
    font-size: 160%;
    background-color: white;
}
.relax:hover{
    background-color: lightblue;
}
.toe{
    width: 30%;
    margin-left: 36.5%;
    line-height: 180%;

}
  footer{
    background-color:rgba(15, 15, 36, 0.568);
    color: hsla(0,0%,100%,.75);
    font-size: .825rem;
    margin-bottom: .25rem;
    position: absolute;
    margin-bottom: 0;
    width: 100%;
  }
  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(239, 243, 11); /* Set a background color */
    color: rgb(12, 12, 12); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: yellow; /* Add a dark-grey background on hover */
  }
  .bot{
      margin-left: 120px;
      margin-top: 90px;
      border-radius: 20%;
  }